<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Outlook2021TodoAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <Outlook2021TodoAddIn.Properties.Settings>
      <setting name="Visible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>285</value>
      </setting>
      <setting name="SplitterDistance" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DisplayTimeOut" serializeAs="String">
        <value>6000</value>
      </setting>
      <setting name="ShowTasks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowWeekNumbers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowCompletedTasks" serializeAs="String">
        <value>False</value>
      </setting>
    </Outlook2021TodoAddIn.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>

